#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 30px;
  width: 500px;
  font-size: 25px;
  padding: 15px;
  margin: 10px;
}

p {
  margin: 0;
}

